/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  height: 100%;
	box-sizing: border-box;
	background-color: #2D4262;
}

.main-container {
	height: 650px;
	max-width: 440px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 10px;
}

.primary-header {
	height: 15%;
	text-align: center;
}

h1 {
	padding-top: 20px;
	margin: auto;
	font-size: 4.5em;
	color: #D09683;
	font-family: Helvetica, sans-serif;
}

.btn {
	border: 0px;
	border-radius: 100px;
	color: #FFFFFF;
	font-family: Helvetica, sans-serif;
	font-size: 2.5em;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	max-height: 90px;
	max-width: 90px;
}

.btn:hover, .undo:hover {
	filter: brightness(120%);
}

.displayContainer {
	grid-column-start: 1;
	grid-column-end: 5;
	text-align: right;
	background-color: white;
	border-radius: 50px;
	color: black;
	font-size: 4em;
	overflow: scroll;
	max-height: 80px;
	width: 425px;
}

.display {
	margin: auto;
	max-width: 400px;
	padding-top: 15px;
}

.clear {
	grid-column-start: 3;
	grid-column-end: 4;
}

.zero {
	grid-column-start: 1;
	grid-column-end: 3;
	max-width: 205px;
}

.undo {
	grid-column-start: 1;
	grid-column-end: 3;
	border-radius: 50px;
	border: 0px;
	background-color: #752424;
	color: #FFFFFF;
	font-family: Helvetica, sans-serif;
	font-size: 2.5em;
	padding-top: 10px;
	padding-bottom: 10px;
	max-height: 90px;
	max-width: 205px;
}

.plus, .minus, .multiply, .divide, .equal {
	background-color: #D09683;
	color: white;
}

.undo, .clear {
	background-color: #73605B;
	color: white;
}

.digit {
	background-color: #363237;
	color: white;
}

.digit:hover {
	filter: brightness(150%);
}
